{% extends "store/base.html" %}
{% load static %}

{%block content%}


<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Carrito de compras</h1>
          <p class="lead fw-normal text-white-50 mb-0">Compra aca</p>
      </div>
  </div>
</header>


{%if cart_productos%}
<section class="vh-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        {%for producto in cart_productos%}
          <div class="card mb-4">
            <div class="card-body p-4">

              <div class="row align-items-center">
                <div class="col-md-2">
                  <img src="{{ producto.imagen.url}}"
                    class="img-fluid" alt="Generic placeholder image">
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Name</p>
                    <p class="lead fw-normal mb-0">{{producto.nombre}}</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Color</p>
                    <p class="lead fw-normal mb-0"><i class="fas fa-circle me-2" style="color: #fdd8d2;"></i>
                      pink rose</p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Cantidad</p>
                    <p class="lead fw-normal mb-0">
                      
                      <div class="lead fw-normal mb-0">
                        
                        <div class="col-md-2">
                          <select class="form-select form-select-sm" id="qty_cart">
                              {%for key, value in cantidades.items%}
                              <! slugify cambia el tipo de dato de key que es un string para poder compararlo>
                                {%if key == producto.id|slugify %}

                                  <option selected> {{value}}</option>
                                  
                                {%endif%}

                              {%endfor%}
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>
                      </div> 

                    </p>
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Precio</p>
                    {%if producto.Esta_en_Descuento%}
                      <p class="lead fw-normal mb-0">
                        <strike>${{producto.precio}}</strike>
                      </p> 
                    {%else%}
                      <p class="lead fw-normal mb-0">${{producto.precio}}</p> 
                    {%endif%}
                  </div>
                </div>
                <div class="col-md-2 d-flex justify-content-center">
                  <div>
                    <p class="small text-muted mb-4 pb-2">Total</p>
                    {%if producto.Esta_en_Descuento%}
                      <p class="lead fw-normal mb-0">{{producto.Precio_Descuento}}</p>
                    {%else%}
                      <p class="lead fw-normal mb-0">{{producto.precio}}</p>
                    {%endif%}
                  </div>
                </div>
              </div>

            </div>
          </div>
        {%endfor%}
        <div class="card mb-5">
          <div class="card-body p-4">

            <div class="float-end">
              <p class="mb-0 me-5 d-flex align-items-center">
                <span class="small text-muted me-2">Order total:</span> <span
                  class="lead fw-normal">$799</span>
              </p>
            </div>

          </div>
        </div>

        <div class="d-flex justify-content-end">
          <a class="btn btn-light btn-lg me-2" href="{% url "home" %}">Seguir comprando</a>
          <button type="button" class="btn btn-primary btn-lg">Chekout</button>
        </div>

      </div>
    </div>
  </div>
</section>
{%else%}
  no hay productos
{%endif%}


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


{%endblock%}